<style>
    .md-form.row-check {
        flex-direction: row;
        display: flex;
    }

</style>
<div class="modal-header text-center">
    <h4 class="modal-title white-text w-100 font-weight-bold py-2">
        Modification
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
    </button>
</div>
<!--Content-->
{{ form_start(form , {'attr': {'action': path('editP') }}) }}
<!--Body-->
<div class="modal-body" style="width:100%; padding: 2rem">
    <div class="md-form" style="display: none">
        <label class="active" for="form1" >{% trans %}Patient Type{% endtrans %}</label>
        {{ form_widget(form.type_patient, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="md-form " >
        <label class="active" for="form1">{% trans %}Country of Birth{% endtrans %}</label>
        {{ form_widget(form.CountryOnBorn, {'attr': {'class': 'form-control chosen-select '}}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}City of Birth{% endtrans %}</label>
        <select class="form-control" id="cityborn" name="cityborn" >
            {% if cityBorn != null  %}
                <option value="{{ cityBorn.id }}" selected>{{ cityBorn }}</option>
            {% else %}
                <option value="" selected> Ville de naissance</option>
            {% endif %}
        </select>
    </div>
    <div class="md-form " >
        <label class="active" for="form1">{% trans %}Country{% endtrans %}</label>
        {{ form_widget(form.country, {'attr': {'class': 'form-control chosen-select'}}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}City of Residence{% endtrans %}</label>
        <select class="form-control" id="city" name="city" >
            {% if city != null  %}
            <option value="{{ city.id }}" selected>{{ city }}</option>
            {% else %}
                <option value="" selected>Ville de Résidence</option>
            {% endif %}
        </select>
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Address{% endtrans %}</label>
        {{ form_widget(form.address, {'attr': {'class': 'form-control form-textarea'}}) }}
    </div>

    <div class="md-form">
        <label class="active" for="form1">{% trans %}Phone{% endtrans %}</label>
        <input type="text" class="form-control" value="{{ phone }}" name="phone">
    </div>
    <div class="md-form" >
        <label class="active" for="form1">E-mail</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="md-form enceinte">
        <label class="active" for="form1">{% trans %}Pregnant{% endtrans %}</label><br>
        {% if enceinte == true %}
            <input type="radio" id="true" name="liste" value= 1 checked>
            <label for="true">Oui</label>
            <input type="radio" id="false" name="liste" value= 0 >
            <label for="true">Non</label>
        {% else %}
            <input type="radio" id="true" name="liste" value= 1 >
            <label for="true">Oui</label>
            <input type="radio" id="false" name="liste" value= 0 checked>
            <label for="true">Non</label>
        {% endif %}
    </div>
    <div class="md-form enfant">
        <label class="active" for="form1">{% trans %}Name of the Father{% endtrans %}</label>
        {{ form_widget(form.namedaddy, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="md-form enfant">
        <label class="active" for="form1">{% trans %}Mother's Name{% endtrans %}</label>
        {{ form_widget(form.namemonther, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="md-form " style="display: none">
        <label for="">{% trans %}Last name{% endtrans %}</label>
        {{ form_widget(form.enceinte, {'attr': {'class': 'form-control' }}) }}
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control form-show', 'placeholder': 'm style="display: none" '}}) }}

    </div>
    <div class="md-form " style="display: none">
        <label for="">{% trans %}First name{% endtrans %}</label>
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control form-show'}}) }}

    </div>

</div>
    <div class="md-form " style="display: none">
        <label for="">{% trans %}Date of Birth{% endtrans %}</label>
        {{ form_widget(form.date_naissance, {'attr': {'class': 'form-control form-show'}}) }}

    </div>

    <div class="md-form " style="display: none">
        <label for="">{% trans %}Gender{% endtrans %}</label>
        {{ form_widget(form.sexe, {'attr': {'class': 'form-control form-show', 'placeholder': 'Sexe'}}) }}
    </div>

    <div class="md-form " style="display: none">
        <label for="">Username</label>
        {{ form_widget(form.username, {'attr': {'class': 'form-control form-show', 'placeholder': 'Votre identifiant'}}) }}
    </div>

    <div class="md-form " style="display: none">
        <label for="">{% trans %}Password{% endtrans %}</label>
        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control form-show', 'placeholder': 'Mot de passe'}}) }}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}


    </div>


    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}Cancel{% endtrans %} </button>
        <button type="submit" class="btn btn-outline-primary waves-effect submit_new_center_health"><i class="fas fa-save ml-1"></i> {% trans %}Save{% endtrans %} </button>
    </div>
{{ form_end(form) }}
{% block javascripts %}
<script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
<script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
<script>
    $('.enceinte').css('display', 'none');
    $('.enfant').css('display', 'none');
    $('.chosen-select').chosen({width: "100%"});
    if ($('.type').val()=="ADULTE" && $('.sexe').val()=="Feminin" ){
        $('.enceinte').css('display', 'block');
    }
    if ($('.type').val()=="ENFANT" ){
        $('.enfant').css('display', 'block');
    }
    $("#registration_form_enceinte_1").attr("checked", true);

    $('#registration_form_country').on('change', function () {
        var idcountry = $('#registration_form_country option:selected').val();
        $.ajax({
            method: "POST",
            url: "{{ path('country') }}",
            data: {id: idcountry},
            success: function (response) {
                $('#city').empty();
                $.each(response, function (index, element) {
                    $('#city').append('<option value="' + element.id + '" selected="selected">' + element.nameCity + ' </option>');
                });
            }
        });
    });
    $('#registration_form_CountryOnBorn').on('change', function () {
        var idcountry = $('#registration_form_CountryOnBorn option:selected').val();
        $.ajax({
            method: "POST",
            url: "{{ path('country') }}",
            data: {id: idcountry},
            success: function (response) {
                $('#cityborn').empty();
                $.each(response, function (index, element) {
                    $('#cityborn').append('<option value="' + element.id + '" selected="selected">' + element.nameCity + ' </option>');
                });
            }
        });
    });
    $('.chosen-select').trigger('chosen:updated');




</script>
{% endblock %}



