{% extends 'profile/include/basePraticien.html.twig' %} {% block body %}

<div class="d-flex w-100">
    <h2 class="profile-h2">Mon profile</h2>
    <div class="text-right w-50">
        <button type="submit " class="btn btn-info button-login btn-edit mb-3">
            Modifier
        </button>
    </div>
</div>
<div>
    <div>
        {{ form_start(registrationForm) }}
        <div class="body-page register edit-register">
            <div class="container text-center body-content">
                <form role="form" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="">Nom</label> {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control form-show', 'placeholder': 'Nom', 'value':values.user.lastName}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.user.lastName }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Prenom</label> {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control form-show', 'value': values.user.firstName}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.user.firstname }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="">Date de naissance</label> {{ form_widget(registrationForm.date_naissance, {'attr': {'class': 'form-control form-show', 'value': values.dateBorn|localizeddate('none', 'none', 'fr', null, 'd MMMM Y')}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.dateBorn|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Lieu de naissance</label> {{ form_widget(registrationForm.lieu_naissance, {'attr': {'class': 'form-control form-show', 'value': values.user.lieuNaissance}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.user.lieuNaissance }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="">Telephone</label> {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control form-show', 'value': values.phone}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.phone }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Telephone professionnel</label> {{ form_widget(registrationForm.phone_professional, {'attr': {'class': 'form-control form-show', 'value': values.phoneProfessional}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.phoneProfessional }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="">Fonction</label> {{ form_widget(registrationForm.fonction, {'attr': {'class': 'form-control form-show', 'value': values.fonction}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.fonction }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Adresse</label> {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control form-show', 'value': values.user.address}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.user.address }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="">Email</label> {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-show', 'value': values.user.email}}) }}
                            <input type="text" class="form-control form-edit" placeholder="{{ values.user.email }}">
                        </div>
                        <div class="col-lg-6">
                            <label for="">Mot de passe</label> {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                        </div>
                    </div>
                    <button type="submit " class="btn btn-info button-login mb-3">
                        Sauvegarder
                    </button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% endblock %} {% block javascripts %}
<script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
<script>
    $('.form-show').css('display', 'none');

    var i = 1;
    $(".btn-edit").click(function() {
        i++;
        if (i % 2 == 0) {
            $('.form-edit').css('display', 'none');
            $('.form-show').css('display', 'block');
        } else {
            $('.form-edit').css('display', 'block');
            $('.form-show').css('display', 'none');
        }
    });
</script>
{% endblock %}