{% extends 'include/base.html.twig' %} {% block body %}


    <div class="d-flex w-100">
        <h2 class="profile-h2">{% trans %}My profile{% endtrans %}</h2>
        <div class="text-right w-50">
            <span class="btn btn-info button-login btn-edit mb-3" data-id="{{ values.id }}" style="margin-right: 61px;"><i class="fa fa-pencil"></i>{% trans %}Edit{% endtrans %}</span>
        </div>
    </div>
    <div class="body-page register edit-register">
        <div class="container text-center body-content">
            <form role="form" class="form-horizontal">
                <div class="row form-group">
                    <div class="col-lg-6">
                        <label for="">{% trans %}Last name{% endtrans %}</label> {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control form-show', 'placeholder': 'Nom', 'value':values.user.lastName}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.user.lastName }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="">{% trans %}First name{% endtrans %}</label> {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control form-show', 'value': values.user.firstName}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.user.firstname }}">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <label for="">{% trans %}Date of Birth{% endtrans %}</label> {{ form_widget(registrationForm.date_naissance, {'attr': {'class': 'form-control form-show', 'value': values.dateOnBorn|localizeddate('none', 'none', 'fr', null, 'd MMMM Y')}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.dateOnBorn|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="">{% trans %}Phone{% endtrans %}</label> {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control form-show', 'value': values.phone}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.phone }}">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6 ">
                        <label for="">{% trans %}Patient type{% endtrans %}</label> {{ form_widget(registrationForm.type_patient, {'attr': {'class': 'form-control form-show', 'placeholder': 'Type patient'}}) }}
                        <input type="text" class="form-control form-edit type" value="{{ values.TypePatient.typePatientName }}">
                    </div>
                    <div class="col-lg-6">
                        <label for="">{% trans %}Address{% endtrans %}</label> {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control form-show', 'placeholder': 'Adresse','value': values.address}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.address}}">

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <label for="">{% trans %}Gender{% endtrans %}</label> {{ form_widget(registrationForm.sexe, {'attr': {'class': 'form-control form-show', 'placeholder': 'Sexe', 'value':values.sexe }}) }}
                        <input type="text" class="form-control form-edit sexe" value="{{ values.sexe}}">

                    </div>
                    <div class="col-lg-6">
                        <label for="">E-mail</label> {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-show', 'value': values.user.email}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.user.email }}">
                    </div>
                </div>
                <div class="row form-group">

                    <div class="col-lg-6">
                        <label for="">{% trans %}Country{% endtrans %}</label> {{ form_widget(registrationForm.country, {'attr': {'class': 'form-control form-show', 'placeholder': 'Country', 'value': values.state}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.state }}">

                    </div>
                    <div class="col-lg-6">
                        <label for="">Username</label> {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control form-show', 'placeholder': 'Votre identifiant', 'value': values.user.username}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.user.username }}">
                    </div>
                </div>
                <div class="row form-group">

                    <div class="col-md-6">
                        <label for="">{% trans %}Name of the Father{% endtrans %}</label> {{ form_widget(registrationForm.namedaddy, {'attr': {'class': 'form-control mb-3 form-show', 'placeholder': 'nom de père' , 'value': values.fatherName}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.fatherName }}">
                    </div>
                    <div class="col-md-6">

                        <label for="">{% trans %}Mother's Name{% endtrans %}</label> {{ form_widget(registrationForm.namemonther, {'attr': {'class': 'form-control mb-3  form-show', 'placeholder': 'nom de mère', 'value': values.motherName }}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.motherName }}">

                    </div>

                </div>
                <div class="row form-group">

                    <div class="col-md-6 enceinte" >
                        <label for="">{% trans %}Pregnant{% endtrans %}</label> {{ form_widget(registrationForm.enceinte, {'attr': {'class': 'form-control mb-3  form-show', 'value':  values.isEnceinte }}) }}
                        {% if values.isEnceinte == 1%}
                            <label>Oui</label>
                            <input  type="checkbox" style="position: relative; margin-top: -29px;margin-left: 42px;width: 25px;" class="form-control form-edit" checked >
                            <label>Non</label>
                            <input type="checkbox" style="margin-top: -27px; margin-left: 40px;width: 25px;" class="form-control form-edit">
                        {% else %}
                            <label>Oui</label>
                            <input type="checkbox" style="position: relative; margin-top: -29px;margin-left: 42px;width: 25px; " class="form-control form-edit" >
                            <label>Non</label>
                            <input type="checkbox" style="margin-top: -27px; margin-left: 40px;width: 25px;"  class="form-control form-edit non" checked>
                        {% endif %}


                    </div>
                    <div class="col-lg-6 password">
                        <label for="">{% trans %}Password{% endtrans %}</label> {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control form-show', 'placeholder': 'Mot de passe', 'value': values.user.password}}) }}
                        <input type="text" class="form-control form-edit" placeholder="{{ values.user.password }}">

                    </div>
                </div>
                <button  class="btn btn-info button-login  button-edit button-edit-class" style="display: none">{% trans %}Save{% endtrans %}</button>

            </form>
        </div>
    </div>
    </div>


{% endblock %} {% block javascripts %}
    <script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
    <script>
    $('.form-show').css('display', 'none');
    $('.password').css('display', 'none');

    $('.enceinte').css('display', 'none');
    $('.btn-edit').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: "{{ path('add_edit') }}",
                type: 'post',
                data: {
                    id: id,
                },
                dataType: "json",
                success: (data) =>{
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
    });
    if ($('.type').val()=="ADULTE" && $('.sexe').val()=="Feminin" ){
        $('.enceinte').css('display', 'block');
    }



</script>

{% endblock %}