{% extends 'include/base.html.twig' %} {% block body %}


    <div class="d-flex w-100">
        <h2 class="profile-h2">{% trans %}My profile{% endtrans %}</h2>
        <div class="text-right w-50">
            <button type="submit" class="btn btn-info button-login btn-edit mb-3" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-pencil-alt mr-2"></i>
                <span >{% trans %}Edit{% endtrans %}</span>
            </button>
        </div>
    </div>
    <div>
        <div>

            <div class="body-page register edit-register">
                <div class="container text-center body-content">
                    <form role="form" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label for="">{% trans %}Last name{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.user.lastName }}">
                            </div>
                            <div class="col-lg-6">
                                <label for="">{% trans %}First name{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.user.firstname }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label for="">{% trans %}Patient type{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.TypePatient.typePatientName }}">
                            </div>
                            <div class="col-lg-6">
                                <label for="">{% trans %}Date of Birth{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.dateOnBorn|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label for="">{% trans %}Phone{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.phone }}">
                            </div>
                            <div class="col-lg-6">
                                <label for="">{% trans %}Address{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{values.address}}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label for="">{% trans %}Gender{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.sexe}}">
                            </div>
                            <div class="col-lg-6">
                                <label for="">E-mail</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.user.email }}">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label for="">{% trans %}Country{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.state }}">
                            </div>
                            <div class="col-lg-6">
                                <label for="">Username</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.user.username }}">

                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <label for="">{% trans %}Name of the Father{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.fatherName }}">
                            </div>
                            <div class="col-md-6">

                                <label for="">{% trans %}Mother's Name{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.motherName }}">

                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 enceinte">
                                <label for="">{% trans %}Pregnant{% endtrans %}</label>
                                <input type="checkbox" class="form-control form-edit" placeholder="{{ values.isEnceinte}}">

                            </div>
                            <div class="col-lg-6 password">
                                <label for="">{% trans %}Password{% endtrans %}</label>
                                <input type="text" class="form-control form-edit" placeholder="{{ values.user.password }}">

                            </div>
                        </div>


                    </form>
                </div>
            </div>
            {{ form_start(registrationForm, {'attr': {'action': path('editP') }}) }}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modification</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                         <div class="md-form">
                             <label class="active" for="form1">{% trans %}Patient type{% endtrans %}</label>
                             {{ form_widget(registrationForm.type_patient, {'attr': { 'class': 'form-control chosen-select' }}) }}
                         </div>
                            <div class="md-form">
                                <label class="active" for="form1">{% trans %}Address{% endtrans %}</label>
                                {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control form-textarea', 'rows':'4', "minlength":"3" }}) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>


{% endblock %} {% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
    <script>
    $('.form-show').css('display', 'none');
    $('.password').css('display', 'none');
    $('.enceinte').css('display', 'none');
    var i = 1;


</script>

{% endblock %}