<div class="col_exc_1">
    <h4 class="h4_patient">Patient {% trans %} Area {% endtrans %}</h4>
    <div class="mt-4">
        <div class="img_profile">
            <img width="88px" src="{{ asset('assets/images/praticien.jpg') }}" alt="logo" id="logo">
            <h5>{{ app.user.firstname }}</h5>
        </div>
        <ul class="menu_suivi">
            <!-- <li {% if app.request.get('_route') == 'patient' %} class="active" {% endif %}><a href="{{ path('patient') }}">Agenda</a></li> -->
            <li {% if app.request.get('_route') == 'vaccination_patient' %} class="active" {% endif %}><a href="{{ path('vaccination_patient') }}">{% trans %}Vaccination schedule{% endtrans %}</a></li>
            <li {% if app.request.get('_route') == 'consultaion_patient' %} class="active" {% endif %} ><a href="{{ path('consultaion_patient') }}">Consultation</a></li>
            <li {% if app.request.get('_route') == 'rdv_patient' %} class="active" {% endif %}><a href="{{ path('rdv_patient') }}">{% trans %} Appointment {% endtrans %}</a></li>
            <li {% if app.request.get('_route') == 'group_patient' or app.request.get('_route')== 'see_my_group' %} class="active" {% endif %}><a href="{{ path('group_patient') }}">{% trans %}Family Group {% endtrans %}</a></li>
        </ul>
        <ul class="logout_footer">
            <li>
                <a href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i> {% trans %}Logout{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</div>