<!--Header-->

<div class="modal-header text-center">
    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Modification Mot de passe</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
    </button>
</div>
<!--Content-->
{{ form_start(form, {'attr': {'action': path('resetting_password'),'id': 'validate_id'}}) }}
<!--Body-->
<div class="modal-body">

    <div class="md-form">
        <label class="active" for="form1">Identifiant </label>
        <input type="text" class="form-control" value="{{ user.username }}" disabled>
        {#{{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder':'Mot de passe', 'autocomplete': 'off'}}) }}#}
    </div>
    <div class="md-form">
        <label class="active" for="form1">Mot de passe </label>
        {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder':'Mot de passe', 'autocomplete': 'off'}}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">Confirmer votre Mot de passe </label>
        {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder':'Confirmer votre Mot de passe', 'autocomplete': 'off'}}) }}
    </div>
</div>

{{ form_end(form) }}

<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> Annuler </button>
    <button type="submit" class="btn btn-outline-primary waves-effect submit_forget_password"> <i class="fas fa-save ml-1"></i> Enregistrer</button>
</div>


<script type="text/javascript">
    $('.submit_forget_password').on('click', function (e) {
        e.preventDefault()
        var password = $("#change_password_password_first").val();
        var confirmPassword = $("#change_password_password_second").val();
        if(password != '' && confirmPassword != ''){
            if (password == confirmPassword){
                $('#validate_id').submit();
            }
            else{
                flash_notice('error', 'Les 2 mots de passe ne sont pas identiques.');
                return false;
            }
        }else {
            flash_notice('error', 'Please enter a password');
            return false;
        }
    })

    $(document).ready(function () {
        $('.chosen-select').chosen({width: "100%"});

    });


</script>
