{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        
    <div class="background-img"></div>
    <div class="body-page register" style="margin: 8rem">
        <div class="container text-center body-content">
            <img class="logo-login"  src="{{asset('assets/images/logo_suivi.png')}}" alt="logo" id="logo">
            <h3 class="main-title mb-4">{% trans %}Register Praticien {% endtrans %}</h3>
            <form role="form" class="form-horizontal" id="register-form">
                <div class="row form-group">
                    <div class="col-lg-6">
                    {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom', "required":"true", "minlength":"3"  }}) }}
                    </div>
                    <div class="col-lg-6">
                    {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénoms', "required":"true", "minlength":"3" }}) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                    {{ form_widget(registrationForm.sexe, {'attr': {'class': 'form-control', "required":"true" }}) }}

                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(registrationForm.date_naissance, {'attr': {'class': 'form-control', 'placeholder': 'Date de naissance', "required":"true" }}) }}

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        {{ form_widget(registrationForm.lieu_naissance, {'attr': {'class': 'form-control', 'placeholder': 'Lieu de naissance', "required":"true" }}) }}

                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(registrationForm.country, {'attr': {'class': 'form-control', 'placeholder': 'Votre pays', "required":"true" }}) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <select class="form-control" id="city" name="city"  >
                            <option value="" selected>Sélectionner votre ville</option>
                        </select>

                    </div>
                    <div class="col-lg-6">
                        {{ form_widget(registrationForm.fonction, {'attr': {'class': 'form-control', 'placeholder': 'Votre fonction', "required":"true", "minlength":"3" }}) }}


                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">
                        <input type="button" id="tel" value="+33" style="position: absolute; width:45px; height: 38px; left: 15px; border: 1px solid #ced4da;border-radius: .25rem;">
                       {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control', 'placeholder': 'Numéro télephone', "required":"true", "minlength":"9" }})}}


                    </div>
                    <div class="col-lg-6">
                        <input type="button" id="tell" value="+33" style="position: absolute; width:45px; height: 38px; left: 15px; border: 1px solid #ced4da;border-radius: .25rem;">
                        {{ form_widget(registrationForm.phone_professional, {'attr': {'class': 'form-control', 'placeholder': 'Numéro téléphone professionnel ',"required":"true", "minlength":"9" }}) }}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6">

                        {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control form-textarea', 'placeholder': 'Adresse exact', 'rows':'4',"required":"true", "minlength":"3" }}) }}
                    </div>
                    <div class="col-lg-6">
                        <div class=" pt-2 pb-2">
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'adresse e-mail',"required":"true", "email": 'true'}}) }}
                        </div>
                        <div class=" pt-2 pb-2">
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Identifiant', "minlength":"3"}}) }}
                        </div>
                    </div>
                </div>
                 <div class="row form-group">
                    <div class="col-lg-6">
                        {{ form_widget(registrationForm.center_health, {'attr': {'class': 'form-control', 'placeholder': 'Votre centre de santé', "required":"true"}}) }}
                    </div>
                    <div class="col-lg-6">
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'votre mote de passe ', "minlength":"12", "matchPassword": "true"}}) }}

                       
                    </div>
                </div>
                <button type="submit " class="btn btn-info button-login mb-3" id="submit_register">
                    {% trans %}Register{% endtrans %}
                </button>
            
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $('#submit_register').click(function(e) {
            if (!$('#register-form').valid()) {
                e.preventDefault();
                return false;
            }
        });

        function getRndInteger(min = 10, max= 100) {
            return Math.floor(Math.random() * (max - min + 1) ) + min;
        }

        function createUsername()  {

                var dateSelect = $('#registration_praticien_form_date_naissance').val();
                var fname = $('#registration_praticien_form_firstname').val().substring(0,1).toLowerCase();
                var lname = $('#registration_praticien_form_lastname').val().toLowerCase();
                var mois = "00";
                var jour = "00";
                var anne = "0000";
                if(dateSelect != ''){
                var datChoice = dateSelect.split("/");
                    mois = datChoice[1];
                    anne = datChoice[2]; 
                    jour = datChoice[0];
                }

                var username = fname + lname + anne + mois + jour + getRndInteger() ;
                
                $.ajax({
                    url: "{{ path('check_username') }}",
                    type: 'POST',
                    data: {
                        'username': username,
                    },
                    dataType: "json",
                    success: (data) => {
                        if (data.status == "OK"){
                            $('#registration_praticien_form_username').val(username);
                        }else {
                            createUsername();
                        }
                    },
                    error: (e) => {
                        console.log(error);
                    }
                }).done(() => {
                });
        } 


        $.validator.addMethod(
            "matchPassword",
            function(value) {
                let res = false;
                var pswd=   $("#registration_form_plainPassword").val();
                if(pswd.match(/^.*(?=.{12,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\x20-\x2F|\x3A-\x40|\x5B-\x60|\x7B-\x7E]).*$/)) {
                    res = true;
                }
                return res;
            },
            " Le mot de passe doit comporter des majuscules, des minuscules, au moins 1 chiffre et au moins un caractère."
        );

        jQuery.extend(jQuery.validator.messages, {
            required: "Ce champ est obligatoire, veuillez le  remplir.",
            remote: "votre message",
            email: "Veuillez entrer un adresse email valide ",
            url: "Vous devriez entrer un lien comme http://exemple.com",
            date: "Veuillez fournir un date",
            dateISO: "votre message",
            number: "Veuillez entre un nombre",
            digits: "votre message",
            creditcard: "Veuillez entrer un numero de carte valide",
            equalTo: "votre message",
            accept: "votre message",
            maxlength: jQuery.validator.format("La valeur maximale pour ce champ est de {0} caractéres."),
            minlength: jQuery.validator.format("La valeur minimale pour ce champ est de {0} caractéres."),
            rangelength: jQuery.validator.format("votre message  entre {0} et {1} caractéres."),
            range: jQuery.validator.format("votre message  entre {0} et {1}."),
            max: jQuery.validator.format("votre message  inférieur ou égal à {0}."),
            min: jQuery.validator.format("votre message  supérieur ou égal à {0}.")
        });

        jQuery('label.error').append('<div class="arrow-error"></div>');

        $(document).ready(function () {
            $('#form-parent').css("display", "none");
            $('#registration_praticien_form_username').attr("readonly", "true");
            $('#registration_praticien_form_date_naissance').datepicker({
                language: 'fr',
                format: 'dd/mm/yyyy',
                autoclose: true,
                endDate: '-16y',
                todayHighlight: true
            });
            $("#registration_form_type_patient").on('change', function (e) {
                if ($("#registration_form_type_patient").val() == 3){
                    $('#form-parent').css("display", "block");
                }else {
                    $('#form-parent').css("display", "none");
                }
            });

            $('#registration_praticien_form_firstname').on('keyup', createUsername);
            $('#registration_praticien_form_lastname').on('keyup', createUsername);
        });

        $('#registration_praticien_form_country').on('change',function () {
            var idcountry =$('#registration_praticien_form_country option:selected').val();
            $.ajax({
                method: "POST",
                url: "{{ path('country') }}",
                data: {id: idcountry},
                success: function(response){

                    $('#city').empty();
                    $.each(response, function(index,element) {
                        $('#city').append('<option value="'+ element.id +'" selected="selected">'+ element.nameCity +' </option>');
                    });
                }
            });

            $.ajax({
                method: "POST",
                url: "{{ path('num') }}",
                data: {id: idcountry},
                success: function(response){
                    $('#tel').empty();
                    $.each(response, function(index,element) {
                        $('#tel').val(element.phoneindic);
                    });
                }
            });
            $.ajax({
                method: "POST",
                url: "{{ path('num') }}",
                data: {id: idcountry},
                success: function(response){
                    $('#tel').empty();
                    $('#tell').empty();
                    $.each(response, function(index,element) {
                        $('#tel').val(element.phoneindic);
                        $('#tell').val(element.phoneindic);
                    });
                }
            });
        });
    </script>
{% endblock %}
