{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}Appointment {% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .md-form.row-check {
            flex-direction: row;
            display: flex;
        }
    </style>
{% endblock %}

{% block body %}
<div class="test">
    {% if new == true %}
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">{% trans %}New appointment{% endtrans %}</h4>
    {% else %}
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
            {% trans %}Appointment modification{% endtrans %}
        </h4>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
    </button>
</div>
<!--Content-->
{{ form_start(form, {'attr': {'action': path('register_rdv') }}) }}
<!--Body-->
<div class="container">
    <div class="md-form">
        <label class="active" for="form1">Praticien </label>
        {{ form_widget(form.praticiens, {'attr': { 'class': 'form-control chosen-select' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Type of appointment{% endtrans %} </label>
        {{ form_widget(form.typeRdv, {'attr': { 'class': 'form-control chosen-select' }}) }}
    </div>
    <div class="md-form description_hidden">
        <label class="active" for="form1">Description</label>
        {{ form_widget(form.description, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Appointment date{%  endtrans %}</label>
        {{ form_widget(form.dateRdv, {'attr': { 'class': 'form-control date_rdv' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}appointment Time {% endtrans %} </label>
        {{ form_widget(form.heureRdv, {'attr': { 'class': 'form-control' }}) }}
    </div>

</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}Cancel{% endtrans %} </button>
    <button type="submit" class="btn btn-outline-primary waves-effect submit_new_center_health"><i class="fas fa-save ml-1"></i> {% trans %}Save{% endtrans %} </button>
</div>

{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.vaccin_hidden').css("display", "none");
        $('.description_hidden').css("display", "none");

        $('.chosen-select').chosen({width: "100%"});

        $('.date_rdv').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight:'TRUE',
            startDate: '-0d',
        })
        $('#rdv_heureRdv').clockpicker({
            donetext: "valider",
            autoclose: true,
        });
        $('#rdv_heureRdv').on('change', function () {
            let receivedVal = $(this).val();
            $(this).val(receivedVal + ":00");
        });

        if($('#rdv_typeRdv').val() == 'consultation'){
            $('.vaccin_hidden').css("display", "none");
            $('.description_hidden').css("display", "block");
        }
        if($('#rdv_typeRdv').val() == 'vaccination'){
            $('.vaccin_hidden').css("display", "block");
            $('.description_hidden').css("display", "none");
        }

        $('#rdv_typeRdv').on('change', function (e) {
            if($(this).val() == 'consultation'){
                $('.vaccin_hidden').css("display", "none");
                $('.description_hidden').css("display", "block");
            }
            else if($(this).val() == 'vaccination'){
                $('.vaccin_hidden').css("display", "block");
                $('.description_hidden').css("display", "none");
            }
        });

        $('.chosen-select').trigger('chosen:updated');
    });
</script>

{% endblock %}