{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}Appointment Proposal{% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}Appointment proposal {% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th >{% trans %}Date Proposal appointment{% endtrans %}</th>
                <th>Type</th>
                <th>Description</th>
                <th style="width: 140px;">{% trans %}Vaccine{% endtrans %}</th>
                <th>Praticien</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for pro in propos  %}
                {% if pro.descriptionProposition != null  %}
                    <tr>
                        <td>
                            {{ pro.dateProposition |format_datetime('full', 'short', locale=app.request.locale)}}
                        </td>
                        <td>Consultation </td>
                        <td style="width: 289px;">
                            {{ pro.descriptionProposition }}
                        </td>
                        <td></td>
                        <td>{{ pro.lastName }} {{ pro.firstName }}</td>
                        <td>
                            {% if pro.statusProposition == 0  %}
                                <span class="badge badge-success badge-style modif-etat" data-id ="{{ pro.id }}">{% trans %}Accept{% endtrans %}</span>
                            {% elseif pro.statusProposition == 1 %}
                                <p class="badge badge-info textf">{% trans %}Accepted{% endtrans %}</p>
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            {% for vacc in proposition  %}

                    <tr>
                        <td >
                            {{ vacc.dateProposition |format_datetime('full', 'short', locale=app.request.locale)}}
                        </td>
                        <td>{% trans %}Vaccine{% endtrans %} </td>
                        <td style="width: 289px;"></td>
                        <td>
                            {{ vacc.vaccinName }}

                        </td>
                        <td>{{ vacc.lastName }} {{ vacc.firstName }}</td>
                        <td>
                            {% if vacc.statusProposition == 0  %}
                                <span class="badge badge-success badge-style modif-etat" data-id ="{{ vacc.id }}" >{% trans %}Accept{% endtrans %}</span>
                            {% elseif vacc.statusProposition == 1 %}
                                <p class="badge badge-info textf ">{% trans %}Accepted{% endtrans %}</p>
                            {% endif %}
                        </td>


            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script>
        $('.modif-etat').one('click', function () {
            var id = $(this).data('id');

            $.ajax({
                url: "{{ path('proposition') }}",
                type: 'post',
                data: {
                    id: id
                },
                dataType: "json",
                success: (data) =>{
                    $(this).attr('disabled','disabled');
                    $(".loadBody").css("display", "none");
                    location.reload();
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });

        });
        $(document).ready(function() {
            $('#example1').DataTable();
            $('.date_rdv').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
            });
        });

    </script>
{% endblock %}