{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}Appointment {% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('vendor/datatables-bs4/css/dataTables.bootstrap4.css')}}">
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}Appointment Validate {% endtrans %}</h4>

        </div>

    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Appointment date{%  endtrans %}</th>
                <th>Type</th>
                <th>{% trans %}Object of consultation{% endtrans %} </th>
                <th>{% trans %}Vaccine{% endtrans %}</th>
                <th>Praticien</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            {% for rdv in consultation  %}
                <tr>
                    <td class="text-left">
                        {{ rdv.dateRdv |format_datetime('full', 'short', locale=app.request.locale)}}
                    </td>
                    <td>Consultation</td>
                    <td style="width: 289px;">
                        {{ rdv.objetConsultation }}
                    </td>
                    <td></td>
                    <td>
                        {{ rdv.firstName }}
                        {{ rdv.lastName }}
                    </td>
                    <td >
                        {% if rdv.statusConsultation == 1 %}
                            <span class="badge badge-success badge-style ">{% trans %}Accepted{% endtrans %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for proposition in proposition  %}
                <tr>
                    <td>
                        {{ proposition.dateProposition |format_datetime('full', 'short', locale=app.request.locale) }}
                    </td>
                    <td> {% trans %}Consultation Proposal<{% endtrans %}/td>
                    <td style="width: 289px;">
                        {{ proposition.descriptionProposition }}
                    </td>
                    <td></td>
                    <td>
                        {{ proposition.firstName }}
                        {{ proposition.lastName }}
                    </td>
                    <td >
                        {% if proposition.etat == 1 %}
                            <span class="badge badge-success badge-style ">{% trans %}Accepted{% endtrans %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for intervention in intervention  %}
                <tr>
                    <td>
                        {{ intervention.datePriseVaccin |format_datetime('full', 'short', locale=app.request.locale) }}
                        {#{ user.createdAt|localizeddate('none', 'none', app.request.locale, null, 'EEEE d MMMM Y') }}#}
                    </td>
                    <td>
                        <p>Intervention</p>
                    </td>
                    <td style="width: 289px;"></td>
                    <td>{{ intervention.vaccinName }}</td>
                    <td>
                        {{ intervention.firstName }} {{ intervention.lastName }}
                    </td>

                    <td>
                        {% if intervention.statusVaccin == 1 %}
                            <span class="badge badge-success badge-style ">{% trans %}Accepted{% endtrans %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for proposition in propos  %}
                <tr>
                    <td>
                        {{ proposition.dateProposition |format_datetime('full', 'short', locale=app.request.locale) }}
                    </td>
                    <td>{% trans %}Vaccine Proposal{% endtrans %}</td>
                    <td style="width: 289px;">

                    </td>
                    <td>{{ proposition.vaccinName }}</td>
                    <td>
                        {{ proposition.firstName }}
                        {{ proposition.lastName }}
                    </td>
                    <td>
                        {% if proposition.etat == 1 %}
                            <span class="badge badge-success badge-style ">{% trans %}Accepted{% endtrans %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
            $('.date_rdv').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
            });
        });

    </script>


{% endblock %}