{% extends 'include/base.html.twig' %}
{%  block title %}
    Vaccination
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('vendor/datatables-bs4/css/dataTables.bootstrap4.css')}}">
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}All vaccinations {% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Vaccination date {% endtrans %}</th>
                <th>Praticien</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for vac in vaccination  %}
                <tr>
                    <td>
                        {{ vac.datePrise |format_datetime('full', 'short', locale=app.request.locale) }}
                        {#{ user.createdAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}#}
                    </td>

                    <td>{{ vac.firstName }} {{ vac.lastName }}</td>
                    <td>
                        {% if vac.statusVaccin == 1 %}
                            <span class="badge badge-success badge-style modif-status">{% trans %}Realize{% endtrans %}</span>
                        {% elseif vac.statusVaccin == 0 %}
                            <span class="badge badge-warning badge-style modif-status">{% trans %}waiting{% endtrans %}</span>
                        {% elseif vac.statusVaccin == 2 %}
                            <span class="badge badge-danger badge-style modif-status">{% trans %}Reject{% endtrans %}</span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
    <script>
        $(document).ready(function () {
            $("#example1").DataTable({
                language: {
                    url: "{{ asset('vendor/datatables/English.json') }}"

                }
            });
        })
    </script>
{% endblock %}