{% extends 'include/base.html.twig' %}
{%  block title %}
    Vaccination
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('vendor/datatables-bs4/css/dataTables.bootstrap4.css')}}">
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}All Vaccinations {% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Vaccine Name{% endtrans %}</th>
                <th>{% trans %} ID Vaccine {% endtrans %}</th>
                <th>{% trans %}Date Taken{% endtrans %}</th>
                <th>Lot</th>
                <th>{% trans %}Vaccinateur Name{% endtrans %}</th>
                <th>{% trans %}Professional Number {% endtrans %}</th>
                <th>Identification</th>
                <th>{% trans %} Status {% endtrans %}</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for vac in vaccination  %}
                <tr>
                    <td>{{ vac.vaccinName }}</td>
                    <td>{{ vac.identifiant_vaccin }}</td>
                    <td>{{ vac.date_prise|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy')}}</td>
                    <td>{{ vac.Lot }}</td>
                    <td>{{ vac.vaccinateur_nom }} {{ vac.vaccinateur_prenom }}</td>
                    <td>{{ vac.NumeroProfessionnel }}</td>
                    <td>{{ vac.identification }}</td>
                    <td>
                        {% if vac.status == 0 %}
                        <p class="badge badge-info  textf">{{ 'Waiting'|trans }}</p>
                        {% elseif vac.status == 1 and vac.etat == 0 %}
                            <p class="badge badge-primary  textf">{% trans %}Scheduled{% endtrans %}</p>
                        {% elseif vac.status == 1 and vac.etat == 1 %}
                            <p class="badge badge-success textf">{% trans %}Realized{% endtrans %}</p>
                        {% endif %}
                    </td>
                       <td>
                           {% if vac.status == 0 %}
                           <span class="badge badge-danger badge-style inter" data-type="vaccination"  data-id="{{ vac.id }}" >Intervention</span>
                           {% endif %}
                       </td>
                </tr>
                
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% for vac in vac %}
        <div class="col-md-12" style="text-align: center;  font-size: 18px; border: 1px solid;width: max-content;margin-left: 206px;height: 48px;border-radius: 14px; margin-top: 2px">
            <p style="color:#ca4848; margin-top: 9px !important;">Demande generation vaccination est envoyée dans le praticien {{ vac.firstName}} {{ vac.lastName}}</p>
        </div>
    {% endfor %}
{% endblock %}


{% block javascripts %}
    <!-- DataTables -->
    <script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function() {
                $('#example1').DataTable();
            } );
        });
        $(".inter").on('click' , function(e) {
            $(".loadBody").css("display", "block");
            e.preventDefault();
            var id = $(this).data('id');
            var type = $(this).data('type');
            $.ajax({
                url: "{{ path('add_rdv_carnet') }}",
                type: 'post',
                data: {
                    id: id,
                    type: type,
                },
                dataType: 'json',
                success: (data) => {
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $('#rdv_heureRdv').clockpicker({
                        donetext: "valider",
                        autoclose: true,
                    });
                    $('#rdv_heureRdv').on('change', function () {
                        let receivedVal = $(this).val();
                        $(this).val(receivedVal );
                    });

                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });
    </script>
{% endblock %}