<div class="menu_up">

    <ul class="menu_right">

            {% for locale in locales if locale != app.request.locale%}
                <li>
                    <a href="{{ path('change_locale', {'locale': locale})}}">
                        <img class="lang-en" src="{{asset('assets/images/'~locale~'.png')}}" alt="{{ locale }}" id="logo" >

                    </a>
                </li>
            {% endfor %}

        <li>
            <a href="">
                <i class="far fa-bell">
                <span>1</span>
                </i>
            </a>
        </li>
        <li class="position-relative profileTrigger">
            {% if is_granted('ROLE_PATIENT') %}
            <a class="clickTr"> <i class="fas fa-user-circle"></i></a>
            <div class="menu_">
                <a href="{{ path('editPatient') }}">{% trans %}My profile{% endtrans %}</a>
                <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </div>
            {% endif %} {% if is_granted('ROLE_PRATICIEN') %}
            <a class="clickTr"> <i class="fas fa-user-circle"></i>
            </a>
            <div class="menu_">
                <a href="{{ path('editPraticien') }}">{% trans %}My profile{% endtrans %}</a>
                <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </div>
            {% endif %}
        </li>
    </ul>
</div>

{% block javascripts %}
<script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
<script>
    $('.menu_').css('display', 'none');
    $(".clickTr").click(function() {
        $('.menu_').toggle();
    });
</script>
{% endblock %}