<div class="menu_up">

    <ul class="menu_right">

        {% for locale in locales if locale != app.request.locale%}
            <li style="margin-top: 4%">
                <a href="{{ path('change_locale', {'locale': locale})}}">
                    <img class="lang-en" src="{{asset('assets/images/'~locale~'.png')}}" alt="{{ locale }}" id="logo" style="margin-right: 40px" >
                </a>
            </li>
        {% endfor %}

        <li class="position-relative profileTrigger">
            {% if is_granted('ROLE_PATIENT') %}
                <a class="clickTr">
                    {% set img = (app.user.photo == null)? 'assets/images/praticien.jpg' : 'uploads/' ~ app.user.photo %}
                    <img class="rounded-circle" style=" position: absolute; height: 30px; margin-left: -25px;margin-top: 3px;" src="/{{ img }}" width="30px">
                </a>
                <div style="margin-top: 11px; background: linear-gradient(150deg, #077DF2 4%, #06CF7D 100%); width: 110px" class="menu_">
                    <a  style="font-size: 14px" href="{{ path('editPatient')  }}">{% trans %}My profile{% endtrans %}</a>
                    <hr>
                    <a style="font-size: 14px; margin-left: -19px " href="{{ path('admin_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_PRATICIEN') %}
                <a class="clickTr">
                    {% set img = (app.user.photo == null)? 'assets/images/praticien.jpg' : 'uploads/' ~ app.user.photo %}
                    <img class="rounded-circle" style=" position: absolute; height: 30px; margin-left: -25px;margin-top: 3px;" src="/{{ img }}" width="30px">
                </a>
                <div style="margin-top: 11px; background: linear-gradient(150deg, #077DF2 4%, #06CF7D 100%); width: 110px" class="menu_">
                    <a  style="font-size: 14px" href="{{ path('editPraticien') }}">{% trans %}My profile{% endtrans %}</a>
                    <hr>
                    <a style="font-size: 14px; margin-left: -19px " href="{{ path('admin_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                    <a class="clickTr">
                        {% set img = (app.user.photo == null)? 'assets/images/praticien.jpg' : 'uploads/' ~ app.user.photo %}
                        <img class="rounded-circle" style=" position: absolute; height: 30px; margin-left: -20px; margin-top: 3px;" src="/{{ img }}" >
                    </a>
                    <div style="margin-top: 11px; background: linear-gradient(150deg, #077DF2 4%, #06CF7D 100%); width: 110px" class="menu_">
                        <a style="font-size: 14px; margin-left: -19px " href="{{ path('admin_logout') }}">{% trans %}Logout{% endtrans %}</a>
                    </div>
            {% endif %}
        </li>
    </ul>
</div>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <script>
        $('.menu_').css('display', 'none');
        $(".clickTr").click(function() {
            $('.menu_').toggle();
        });
    </script>

{% endblock %}