<div class="menu_up">

    <ul class="menu_right">

            {% for locale in locales if locale != app.request.locale%}
                <li>
                    <a href="{{ path('change_locale', {'locale': locale})}}">
                        <img class="lang-en" src="{{asset('assets/images/'~locale~'.png')}}" alt="{{ locale }}" id="logo" >

                    </a>
                </li>
            {% endfor %}
        <li>
            <a href="">
                <i class="far fa-bell">
                <span>1</span>
                </i>
            </a>
        </li>
        <li class="position-relative profileTrigger">
            {% if is_granted('ROLE_PATIENT') %}
                <a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-hidden="true" aria-expanded="true">
                    <img style=" position: absolute; height: 30px" src="/uploads/{{ app.user.photo }}" width="30px">

                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-item"><a href="{{ path('editPatient') }}">{% trans %}My profile{% endtrans %}</a></li>
                    <hr>
                    <li class="dropdown-item"><a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                </ul>
            {% endif %}
            {% if is_granted('ROLE_PRATICIEN') %}
                <a class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-hidden="true" aria-expanded="true" >
                    <img style=" position: absolute; height: 30px" src="/uploads/{{ app.user.photo }}" width="30px">

                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item"><a href="{{ path('editPraticien') }}">{% trans %}My profile{% endtrans %}</a></li>
                    <hr>
                    <li class="dropdown-item" ><a href="{{ path('app_logout') }}" >{% trans %}Logout{% endtrans %}</a></li>
                </ul>

            {% endif %}
        </li>
    </ul>
</div>

{% block javascripts %}

{% endblock %}