<div class="menu_up">
    <ul class="menu_bar">
        <li>
            <a href="">
                <img class="lang-en" src="{{asset('assets/images/fr.png')}}" alt="logo" id="logo">
                <img class="lang-en" src="{{asset('assets/images/en.png')}}" alt="logo" id="logo">
                <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
            </a>
        </li>
    </ul>
    <ul class="menu_right">
        <li>
            <a href="">
                <i class="far fa-envelope"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="far fa-bell">
                <span>1</span>
                </i>
            </a>
        </li>
        <li class="position-relative profileTrigger">
            {% if is_granted('ROLE_PATIENT') %}
            <a class="clickTr"> <i class="fas fa-user-circle"></i></a>
            <div class="menu_">
                <a href="{{ path('editPatient') }}">Mon Profile</a>
                <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
            {% endif %} {% if is_granted('ROLE_PRATICIEN') %}
            <a class="clickTr"> <i class="fas fa-user-circle"></i>
            </a>
            <div class="menu_">
                <a href="{{ path('editPraticien') }}">Mon Profile</a>
                <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
            {% endif %}
        </li>
    </ul>
</div>

{% block javascripts %}
<script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
<script>
    $('.menu_').css('display', 'none');
    $(".clickTr").click(function() {
        $('.menu_').toggle();
    });
</script>
{% endblock %}