{% extends 'include/base.html.twig' %}
{%  block title %}
    Consultation
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}All consultations{% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Consultation date{% endtrans %}</th>
                <th style="width: 267px">{% trans %}Object of consultation{% endtrans %} </th>
                <th>Patient</th>
                <th>Praticien</th>
                <th>Validation</th>

                {# <th>More</th> #}
            </tr>
            </thead>
            <tbody>
            {% for rdv in consultations  %}
                <tr>
                    <td>
                        {{ rdv.dateRdv|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy') }}
                    </td>
                    <td>
                        {% if rdv.objetConsultation is defined and rdv.objetConsultation is not null %}{{ rdv.objetConsultation }}{% endif %}
                    </td>
                    <td>
                        {{ rdv.patientlast ~' '~ rdv.patientfirst }} <br>
                    </td>
                    <td>
                        {{ rdv.lastName ~' '~ rdv.firstName }}
                    </td>
                    <td>
                        {% if rdv.statusConsultation == 1 %}
                            <p class="badge badge-primary validation_width ">{% trans %}Validate{% endtrans %}</p>
                        {% elseif rdv.statusConsultation == 0 %}
                            <p class="badge badge-secondary  validation_width ">{% trans %}waiting{% endtrans %}</p>
                        {% elseif rdv.statusConsultation == 2 %}
                            <p class="badge badge-danger  validation_width ">{% trans %}Reject{% endtrans %}</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#example1').DataTable();
        });
    </script>
{% endblock %}