{% extends 'include/base.html.twig' %}
{%  block title %}
    Consultation
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">Tous les consultations</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>Date de consultations</th>
                <th>Objet de Consultation</th>
                <th>Patient</th>
                <th>Praticien</th>
                <th>Validation</th>
                <th>Status</th>
                {# <th>More</th> #}
            </tr>
            </thead>
            <tbody>
            {% for rdv in consultations  %}
                <tr>
                    <td>
                        {{ rdv.dateRdv|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy') }}
                    </td>
                    <td>
                        {% if rdv.objetConsultation is defined and rdv.objetConsultation is not null %}{{ rdv.objetConsultation }}{% endif %}
                    </td>
                    <td>
                        {{ rdv.patient.lastName ~' '~ rdv.patient.firstName }} <br>
                    </td>
                    <td>
                        {% if rdv.ordonnance is defined and rdv.ordonnance is not null %} {{ rdv.ordonnance.praticien.lastName ~' '~ rdv.ordonnance.praticien.firstName }} {% endif %} <br>
                    </td>
                    <td>
                        {% if rdv.statusConsultation == 0 %}
                            <button class="btn btn-info validation_width" >En attente</button>
                        {% elseif rdv.statusConsultation == 1 %}
                            <button class="btn btn-primary validation_width" >Validé</button>
                        {% else %}
                            <button class="btn btn-danger validation_width" >Réjeté</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if rdv.etat == 0 %}
                            <button class="btn btn-deep-orange  validation_width" >Pas Fait</button>
                        {% else %}
                            <button class="btn btn-primary validation_width" >Fait</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#example1").DataTable({
            language: {
                url: "{{ asset('vendor/datatables/lang.json') }}"
            }
        });

        $('.active_etat_rdv').on('click', function (e) {
            $(".loadBody").css("display", "block");
            e.preventDefault();
            var id = $(this).data('id');
            var etat = $(this).data('etat');
            $.ajax({
                url: "{{ path('update_etat_rdv') }}",
                type: 'post',
                data: {
                    'id_rdv': id,
                    'etat': etat
                },
                dataType: "json",
                success: (data) =>{
                    $(".loadBody").css("display", "none");
                    if(data.status == 'OK' ){
                        location.reload();
                    }
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    console.log(e.statusText);
                }
            }).done(() => {

            });
        });

        $('.active_status_rdv').on('click', function (e) {
            e.preventDefault();
            $(".loadBody").css("display", "block");
            var id = $(this).data('id');
            var status = $(this).data('status');

            $.ajax({
                url: "{{ path('update_status_rdv') }}",
                type: 'post',
                data: {
                    'id_rdv': id,
                    'status': status
                },
                dataType: "json",
                success: (data) =>{
                    $(".loadBody").css("display", "none");
                    if(data.status == 'OK' ){
                        location.reload();
                    }
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    console.log(e.statusText);
                }
            }).done(() => {

            });
        });
    </script>
{% endblock %}