{% extends 'include/base.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block body %}


<!-- Content -->
<h4 class="title-dash">{% trans %}Dashboard{% endtrans %}</h4>

<div class="row admin">
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <i class="fa fa-user"></i>
            <div class="in-card">
                <h5>
                    Patient
                </h5>
                <h3 >
                    {{ patient }}
                </h3>
                <span class="note-red">
                    {{ patRej }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <img src="/assets/images/prat.jpg" style="width: 34px;height: 39px;margin-top: 16px;"/>
            <div class="in-card">
                <h5 style="padding-left: 18px;">
                    Praticien
                </h5>
                <h3 style="padding-left: 20px;">
                    {{ praticien }}
                </h3>
                <span class="note-red">
                    {{ prtRej }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <img src="/assets/images/vaccination.jpg" style="width: 34px;height: 39px;margin-top: 16px;"/>
            <div class="in-card">
                <h5 style="padding-left: 18px;">
                    Vaccination
                </h5>
                <h3 style="padding-left: 23px;">
                    {{ vacc }}
                </h3>
                <span class="note-red">
                   {{vaccInPr }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <img src="/assets/images/consultation.jpg" style="width: 34px;height: 39px;margin-top: 16px;"/>
            <div class="in-card">
                <h5 style= "padding-left: 18px;">
                    Consultation
                </h5>
                <h3 style="padding-left: 23px;">
                    {{ cons }}
                </h3>
                <span class="note-red">
                    {{ consInPr }}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 col-md-6">
        <div id="chartContainer2" style="height: 370px; max-width: 920px; margin: 0px auto;margin-top: 23px;"></div>
    </div>
    <div class="col-12 col-md-6">
        <div id="chartContainer3" style="height: 370px; max-width: 920px; margin: 0px auto;margin-top: 23px;"></div>
    </div>
</div>

<div id="chartContainer" style="height: 370px; max-width: 1105px; margin: 0px auto;margin-top: 23px;margin-bottom: 24px;"></div>



<!-- End Content -->

{% endblock %} {% block javascripts %}
<!-- DataTables -->
{{ parent() }}
<script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
<script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
<script>
    $(document).ready(function() {
        $('#patient').DataTable();
    });
</script>
{% endblock %}