{% extends 'include/base.html.twig' %}
{%  block title %}
    Intervention
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}All Intervention{% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Intervention date{% endtrans %}</th>
                <th style="width: 267px">{% trans %}Vaccine{% endtrans %} </th>
                <th>Patient</th>
                <th>Praticien</th>
                <th>Validation</th>

                {# <th>More</th> #}
            </tr>
            </thead>
            <tbody>
            {% for rdv in intervention  %}
                <tr>
                    <td>
                        {{ rdv.datePriseVaccin|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy') }}
                    </td>
                    <td>
                        {{ rdv.vaccinName }}
                    </td>
                    <td>
                        {{ rdv.lastName ~' '~ rdv.firstName }} <br>
                    </td>
                    <td>
                        {{ rdv.praticienlast ~' '~  rdv.praticienfirst }}
                    </td>
                    <td>
                        {% if rdv.statusVaccin == 1 %}
                            <p class="badge badge-info validation_width">{% trans %}Validate{% endtrans %}</p>
                        {% elseif rdv.statusVaccin == 0 %}
                            <p class="badge badge-warning validation_width">{% trans %}waiting{% endtrans %}</p>
                        {% elseif rdv.statusVaccin == 2 %}
                            <p class="badge badge-danger validation_width">{% trans %}Reject{% endtrans %}</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#example1').DataTable();
        });
    </script>
{% endblock %}