{% extends 'include/base.html.twig' %}
{%  block title %}
    Vaccination
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}All vaccinations{% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Vaccination date{% endtrans %}</th>

                <th>{% trans %}Patient{% endtrans %}</th>
                <th>{% trans %}Praticien{% endtrans %}</th>
                <th >{% trans %}Validation{% endtrans %}</th>

                {# <th>More</th> #}
            </tr>
            </thead>
            <tbody>
            {% for rdv in Vaccinations  %}
                <tr>
                    <td>
                        {{ rdv.datePrise|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM yyyy') }}
                    </td>
                    <td>
                        {{ rdv.patientlast ~' '~ rdv.patientfirst }} <br>
                    </td>
                    <td>
                        {{ rdv.lastName ~' '~ rdv.firstName }}
                    </td>
                    <td>
                        {% if rdv.statusVaccin == 0 %}
                            <button class="btn btn-info validation_width" >{% trans %}waiting{% endtrans %}</button>
                        {% elseif rdv.statusVaccin == 1 %}
                            <button class="btn btn-primary validation_width" >{% trans %}Validate{% endtrans %}</button>
                        {% else %}
                            <button class="btn btn-danger validation_width" >{% trans %}Reject{% endtrans %}</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>
{% endblock %}