{% extends 'include/base.html.twig'%}

{%  block title %}
{% endblock %}

{% block stylesheets %}
<style>
    .md-form.row-check {
        flex-direction: row;
        display: flex;
    }
</style>
{% endblock %}
{% block body %}
<div class="modal-header text-center">
    {% if new == true %}
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">{% trans %}New Appointment Proposal{% endtrans %}</h4>
    {% else %}
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">{% trans %}Modification of the appointment proposal{% endtrans %}</h4>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
    </button>
</div>
<!--Content-->
{{ form_start(form, {'attr': {'action': path('register_proposition') }}) }}
<!--Body-->
<div class="modal-body">
    <div class="md-form">
        <label class="active" for="form1">Patient </label>
        <select class="form-control " id="patient" name="patient" required >
            <option value="" selected>Patient</option>
        </select>
    </div>
    <div class="md-form">
        <label class="active" for="form1">Type </label>
        {{ form_widget(form.typeRdv, {'attr': { 'class': 'form-control chosen-select' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Proposed Date{% endtrans %}</label>
        {{ form_widget(form.dateRdv, {'attr': { 'class': 'form-control date_rdv' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Propose time{% endtrans %} </label>
        {{ form_widget(form.heureRdv, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form vaccin_hidden">
        <label class="active" for="form1">Vaccin </label>
        {{ form_widget(form.vaccin, {'attr': { 'class': 'form-control chosen-select' }}) }}
    </div>
    <div class="md-form description">
        <label class="active" for="form1" >{% trans %}Description of the appointment{% endtrans %}</label>
        {{ form_widget(form.description, {'attr': { 'class': 'form-control' }}) }}
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}Cancel{% endtrans %} </button>
    <button type="submit" class="btn btn-outline-primary waves-effect submit_new_center_health"><i class="fas fa-save ml-1"></i>{% trans %}Save{% endtrans %}</button>
</div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.vaccin_hidden').css("display", "none");
            $('.chosen-select').chosen({width: "100%"});
            $('.date_rdv').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight:'TRUE',
                startDate: '-0d',
            });
            $('#proposition_rdv_heureRdv').clockpicker({
                donetext: "valider",
                autoclose: true,
            });
            $('#proposition_rdv_heureRdv').on('change', function () {
                let receivedVal = $(this).val();
                $(this).val(receivedVal);
            });

            $('#proposition_rdv_typeRdv').on('change', function (e) {
                if($(this).val() == 'consultation'){
                    $('.vaccin_hidden').css("display", "none");
                    $('.description').css("display", "block");
                }else if($(this).val() == 'vaccination'){
                    $('.vaccin_hidden').css("display", "block");
                    $('.description').css("display", "none");
                }
            });

            $('.chosen-select').trigger('chosen:updated');
        });
</script>



{{ form_end(form) }}
{% endblock %}


