
{% block stylesheets %}

    <style>
        .md-form.row-check {
            flex-direction: row;
            display: flex;
        }
        .association-form {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="modal-header text-center">

        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
            Intervention
        </h4>
    </div>
    <!--Content-->
    {{ form_start(form, {'attr': {'action': path('organize_carnet') }}) }}
    <!--Body-->
    <div class="modal-body" style="width:69%; margin-left: 17%">
        <div class="md-form">
            <label class="active" for="form1">{% trans %}Vaccine Lot{% endtrans %}</label><br>
            <input type="text" name="lot" id="lot" placeholder="{% trans %}Vaccine Lot{% endtrans %}"  style="width: 300px;" required>
        </div>
        <div class="md-form " style="display: none">

            <input type="text" value="{{ praticien }}" id="praticien" name="praticien">

            <label class="active" for="form1" style="margin-left: -50px;">Praticien</label>
            {{ form_widget(form.praticien, {'attr': { 'class': 'form-control ' }}) }}
            {{ form_widget(form.patient, {'attr': { 'class': 'form-control' }}) }}
            {{ form_widget(form.vaccin, {'attr': { 'class': 'form-control ' }}) }}
            {{ form_widget(form.carnet, {'attr': { 'class': 'form-control ' }}) }}
            {{ form_widget(form.heure, {'attr': { 'class': 'form-control' }}) }}
            {{ form_widget(form.date, {'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}Cancel{% endtrans %} </button>
        <button type="submit" class="btn btn-outline-primary waves-effect submit_new_center_health"><i class="fas fa-save ml-1"></i> {% trans %}Save{% endtrans %} </button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $('#carnet_date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight:'TRUE',
                startDate: '-0d',
            });
            $('#carnet_heure').clockpicker({
                donetext: "valider",
                autoclose: true,
            });
            $('#carnet_heure').on('change', function () {
                let receivedVal = $(this).val();
                $(this).val(receivedVal );
            });
        });
    </script>

{% endblock %}