
{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}Vaccination schedule {% endtrans %}
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}Vaccination schedule {% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>Patient</th>
                <th>{% trans %}Vaccine{% endtrans %}</th>
                <th>Date Prise initiale</th>
                <th>Date Rappel</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            {# {{dump(vaccination)}} #}
            {% for vaccin in listVaccins %}

                <tr>
                    <td>{{vaccin.firstname}} {{vaccin.lastname}}</td>
                    <td>{{vaccin.vaccin}}</td>
                    <td>
                        {% if vaccin.datePriseInitiale %}
                            {{ vaccin.datePriseInitiale |localizeddate('long', 'short') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if vaccin.rappel %}
                            {{ vaccin.rappel |localizeddate('long', 'short') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if vaccin.vaccinState == 0 %}
                            <span class="badge badge-success badge-style modif-status">{% trans %}Realize{% endtrans %}</span>
                        {% else %}
                            <span class="badge badge-info badge-style ">{% trans %}Realized{% endtrans %}</span>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script>
        $(document).ready(function() {
            $('#example1').DataTable();
        });
    </script>
{% endblock %}