{% extends 'include/base.html.twig' %}
{%  block title %}
    Consultations
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('vendor/datatables-bs4/css/dataTables.bootstrap4.css')}}">
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">Tous les consultation</h4>
        </div>
        <div class="grid-edit-btn col-md-3 mt-3">
            <button class="btn btn-danger create-consultation"  >+ Creer consultation</button>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>Date Consultation</th>
                <th>Objet de consultation </th>
                <th>Patient</th>
                <th>Status</th>

                {# <th>More</th> #}
            </tr>
            </thead>
            <tbody>
            {% for rdv in consultation  %}
                <tr>
                    <td>
                        {{ rdv.dateRdv |format_datetime('full', 'short', locale=app.request.locale) }}
                    </td>

                    <td>
                        {{ rdv.objetConsultation }}
                    </td>
                    <td>
                        {{ rdv.firstName }} {{ rdv.lastName }}
                    </td>
                    <td>
                        {% if rdv.statusConsultation == 1 %}
                            <span class="badge badge-success badge-style modif-status"> activé </span>
                        {% elseif rdv.statusConsultation == 0 %}
                            <span class="badge badge-warning badge-style modif-status">En attente</span>
                        {% elseif rdv.statusConsultation == 2 %}
                            <span class="badge badge-danger badge-style modif-status">Réjeter</span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
    <script>
        $("#example1").DataTable({
            language: {
                url: "{{ asset('vendor/datatables/lang.json') }}"
            }
        });
        $('.mdb-select').materialSelect();

        $('.active_etat_rdv').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var etat = $(this).data('etat');
            $.ajax({
                url: "{{ path('update_etat_rdv') }}",
                type: 'post',
                data: {
                    'id_rdv': id,
                    'etat': etat
                },
                dataType: "json",
                success: (data) =>{
                    if(data.status == 'OK' ){
                        location.reload();
                    }
                },
                error: (e) => {
                    console.log(e.statusText);
                }
            }).done(() => {

            });
        });

        $('.active_status_rdv').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var status = $(this).data('status');

            $.ajax({
                url: "{{ path('update_status_rdv') }}",
                type: 'post',
                data: {
                    'id_rdv': id,
                    'status': status
                },
                dataType: "json",
                success: (data) =>{
                    if(data.status == 'OK' ){
                        location.reload();
                    }
                },
                error: (e) => {
                    console.log(e.statusText);
                }
            }).done(() => {

            });
        });

        $(".create-consultation").click((e) => {
            $.ajax({
                url: "{{ path('add_form_rdv') }}",
                type: 'post',
                data: {action: 'new'},
                success: (data) => {
                    $('.create_body').html(data.form_consultation_html);
                    $("#modal_create_body").modal('show');
                },
                error: (e) => {
                    console.log(e.statusText);
                }
            }).done(() => {
            });
        })

    </script>
{% endblock %}