{% extends 'include/base.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block body %}
<h4 class="title-dash">{% trans %}Dashboard{% endtrans %}</h4>

<div class="row admin">
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <i class="fa fa-user"></i>
            <div class="in-card">
                <h5>
                    Patient
                </h5>
                <h3 >
                    {{ nbPatient }}
                </h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <i class="fa fa-user"></i>
            <div class="in-card">
                <h5>
                	{% trans %}
                    	Realized Vacc
                	{% endtrans %}
                </h5>
                <h3>
                    {{ nbRealizedVacc }}
                </h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <i class="fa fa-user"></i>
            <div class="in-card">
                <h5>
                	{% trans %}
                    	Unrealized Vacc
                	{% endtrans %}
                </h5>
                <h3>
                    {{ nbUnrealizedVacc }}
                </h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card-admin">
            <i class="fa fa-user"></i>
            <div class="in-card">
                <h5>
                    Consultation
                </h5>
                <h3>
                    {{ nbConsultation }}
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 col-md-6">
        <div id="chartNbPriseTypeVacc" style="height: 370px; max-width: 920px; margin: 0px auto;margin-top: 23px;"></div>
    </div>
    {# <div class="col-12 col-md-6">
        <div id="chartContainer3" style="height: 370px; max-width: 920px; margin: 0px auto;margin-top: 23px;"></div>
    </div> #}
    <div class="col-12 col-md-6">
        <div id="chartContainerAgeRange" style="height: 370px; max-width: 920px; margin: 0px auto;margin-top: 23px;"></div>
    </div>
</div>

<div class="row">
    <div id="chartVaccinStat" class="col-6" style="height: 370px; max-width: 1105px; margin: 0px auto;margin-top: 23px;margin-bottom: 24px;"></div>
    <div class="col-6"></div>
</div>


<!-- End Content -->

{% endblock %} {% block javascripts %}
<!-- DataTables -->
{{ parent() }}
<script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
<script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
<script>
    $(document).ready(function() {
        $('#patient').DataTable();
    });
</script>
{% endblock %}