{% extends 'include/base.html.twig' %}
{%  block title %}
    Proposition Rendez-Vous
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">Proposition rendez-vous</h4>
        </div>
        <div class="grid-edit-btn col-md-3 mt-3">
            <button class="btn btn-danger add_form_rdv">+ Creer Proposition rendez-vous</button>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>Date de Proposition rdv</th>
                <th>Description Proposition </th>
                <th>Nombre patient attendue </th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for pro in proposition  %}
                <tr>
                    <td class="text-left">
                        {{ pro.dateProposition |format_datetime('full', 'short', locale=app.request.locale)}}
                    </td>
                    <td>
                        {{ pro.descriptionProposition }}
                    </td>
                    <td>
                        {{ pro.PersonneAttendre }} patient
                    </td>


                    <td>
                        <span class="btn btn-primary data-edit" data-id="{{ pro.id }}" ><i class="fa fa-pencil"></i></span>
                        <span class="btn btn-danger data-remove" data-id="{{ pro.id }}" ><i class="fa fa-trash-o"></i></span>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script>
        $(".add_form_rdv").on('click' , function(e) {
            $(".loadBody").css("display", "block");
            e.preventDefault();
            $.ajax({
                url: "{{ path('add_form_proposition_rdv') }}",
                type: 'post',
                data: {
                    action: 'new'
                },
                dataType: 'json',
                success: (data) => {
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $('#proposition_rdv_heureRdv').clockpicker({
                        donetext: "valider",
                        autoclose: true,
                    });
                    $('#proposition_rdv_heureRdv').on('change', function () {
                        let receivedVal = $(this).val();
                        $(this).val(receivedVal + ":00");
                    });

                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });

        $('.data-edit').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: "{{ path('add_form_proposition_rdv') }}",
                type: 'post',
                data: {
                    id: id,
                    action: 'edit'
                },
                dataType: "json",
                success: (data) =>{
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $('#proposition_rdv_heureRdv').clockpicker({
                        donetext: "valider",
                        autoclose: true,
                    });
                    $('#proposition_rdv_heureRdv').on('change', function () {
                        let receivedVal = $(this).val();
                        $(this).val(receivedVal + ":00");
                    });
                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });

        $('.data-remove').on('click', function (e) {
            e.preventDefault();
            var $delete = confirm('Êtes-vous sûr de vouloir supprimer cet rdv ?');
            if($delete){
                $(".loadBody").css("display", "block");
                var id = $(this).data('id');
                $.ajax({
                    url: "{{ path('remove_proposition') }}",
                    type: 'post',
                    data: {
                        id: id,
                    },
                    dataType: "json",
                    success: (data) =>{
                        $(".loadBody").css("display", "none");
                        location.reload();
                    },
                    error: (e) => {
                        $(".loadBody").css("display", "none");
                        $(".chargementError").css("display", "block");
                    }
                }).done(() => {
                    $(".loadBody").css("display", "none");
                });
            }else {
                return false
            }
        });

        $(document).ready(function () {
            $("#example1").DataTable({
                language: {
                    url: "{{ asset('vendor/datatables/lang.json') }}"
                }
            });
            $('.mdb-select').materialSelect();

            $('.date_rdv').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
            });
        })

    </script>
{% endblock %}