{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}Appointment {% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content"> {% trans %}Appointment {% endtrans %}</h4>
        </div>

    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}Appointment date{%  endtrans %}</th>
                <th>Type</th>
                <th>{% trans %}Object of consultation{% endtrans %}  </th>
                <th>Patient</th>
                <th>{% trans %}Vaccine{% endtrans %}</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for rdv in consultation  %}
                <tr>
                    <td>
                        {{ rdv.dateRdv |format_datetime('full', 'short', locale=app.request.locale) }}
                    </td>
                    <td>Consultation</td>
                    <td>
                        {{ rdv.objetConsultation }}
                    </td>
                    <td>
                        {{ rdv.firstName }}
                        {{ rdv.lastName }}
                    </td>
                    <td></td>
                    <td>
                        {% if rdv.statusConsultation == 1 %}
                            <span class="badge badge-success badge-style modif-status">{% trans %}activate{% endtrans %}</span>
                        {% elseif rdv.statusConsultation == 0 %}
                            <span class="badge badge-warning badge-style modif-status">{% trans %}waiting{% endtrans %}</span>
                        {% elseif rdv.statusConsultation == 2 %}
                            <span class="badge badge-danger badge-style modif-status">{% trans %}Reject{% endtrans %}</span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}

            {% for vac in vaccination  %}
                <tr>
                    <td>
                        {{ vac.datePrise |format_datetime('full', 'short', locale=app.request.locale)}}
                        {#{ user.createdAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}#}
                    </td>
                    <td>Vaccination</td>
                    <td></td>
                    <td>
                        {{ vac.firstName }} {{ vac.lastName }} <br>
                    </td>
                    <td>{{ vac.vaccinName }}</td>
                    <td>
                        {% if vac.statusVaccin == 1 %}
                            <span class="badge badge-success badge-style modif-status"> {% trans %}activate{% endtrans %}</span>
                        {% elseif vac.statusVaccin == 0 %}
                            <span class="badge badge-warning badge-style modif-status">{% trans %}waiting{% endtrans %}</span>
                        {% elseif vac.statusVaccin == 2 %}
                            <span class="badge badge-danger badge-style modif-status">{% trans %}Reject{% endtrans %}</span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
            $('.date_rdv').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
            });
        });
    </script>
{% endblock %}