{% extends 'include/base.html.twig' %}
{%  block title %}
    Vaccination
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">Tous les vaccinations</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>Date vaccination</th>
                <th>Patient</th>
                <th>Vaccin</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for vac in vaccination  %}
                <tr>
                    <td>
                        {{ vac.datePrise |format_datetime('full', 'short', locale=app.request.locale) }}
                        {#{ user.createdAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}#}
                    </td>

                    <td>{{ vac.firstName }} {{ vac.lastName }}</td>
                    <td>{{vac.vaccinName }}</td>
                    <td>
                        {% if vac.statusVaccin == 1 %}
                            <span class="badge badge-success badge-style modif-status"> activé </span>
                        {% elseif vac.statusVaccin == 0 %}
                            <span class="badge badge-warning badge-style modif-status">En attente</span>
                        {% elseif vac.statusVaccin == 2 %}
                            <span class="badge badge-danger badge-style modif-status">Réjeter</span>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script>
        $("#example1").DataTable({
            language: {
                url: "{{ asset('vendor/datatables/lang.json') }}"
            }
        });

        $('.active_etat_rdv').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var etat = $(this).data('etat');
            $.ajax({
                url: "{{ path('update_etat_rdv') }}",
                type: 'post',
                data: {
                    'id_rdv': id,
                    'etat': etat
                },
                dataType: "json",
                success: (data) =>{
                    if(data.status == 'OK' ){
                        location.reload();
                    }
                },
                error: (e) => {
                    console.log(e.statusText);
                }
            }).done(() => {

            });
        });

        $('.active_status_rdv').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var status = $(this).data('status');

            $.ajax({
                url: "{{ path('update_status_rdv') }}",
                type: 'post',
                data: {
                    'id_rdv': id,
                    'status': status
                },
                dataType: "json",
                success: (data) =>{
                    if(data.status == 'OK' ){
                        location.reload();
                    }
                },
                error: (e) => {
                    console.log(e.statusText);
                }
            }).done(() => {

            });
        });
    </script>
{% endblock %}