{% extends 'include/base.html.twig' %}
{%  block title %}
    Vaccination
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-9 mt-4">
            <h4 class="h4-content">{% trans %}All Vaccinations {% endtrans %}</h4>
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>Patient</th>
                <th style="width: 239px;">Operation</th>
                <th style="width: 86.8px;">{% trans %}Status{% endtrans %}</th>
                <th style="width: 153.6px;">Action</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
                {# {{dump(vaccination)}} #}
            {% for vac in vaccination  %}
                <tr>
                    <td>{{vac.firstName }} {{ vac.lastName }}</td>
                    <td>{% trans %}Vaccine Calendar{% endtrans %}</td>
                    <td>
                        {% if vac.statusVaccin == 1 %}
                            <p class="badge badge-info textf ">{% trans %}Generated{% endtrans %}</p>
                        {% elseif vac.statusVaccin == 0 %}
                            <p class="badge badge-warning textf ">{{ 'waiting'|trans }}</p>
                        {% elseif vac.statusVaccin == 2 %}
                            <p class="badge badge-danger textf">{% trans %}Rejected{% endtrans %}</p>
                        {% endif %}
                    </td>

                    <td >
                        {% if vac.statusVaccin == 1 %}
                            <a href="{{ path('see_calendar', {'patient_id' : vac.patient}) }}" class="badge badge-success badge-style">{% trans %}See{% endtrans %}</a>
                        {% elseif vac.statusVaccin == 0 %}
                            <span class="badge badge-success badge-style modif"  data-type="vaccination"  data-action="active" data-id="{{ vac.id }}" data-status="{{vac.statusVaccin}}"   data-praticien="{{ vac.praticien }}" data-patient="{{ vac.patient }}" >{{ 'Generate'|trans }}</span>
                            <span  class="badge badge-danger badge-style modif" data-type="vaccination"  data-action="reject" data-id="{{ vac.id }}" data-status="{{vac.statusVaccin}}"   data-praticien="{{ vac.praticien }}" data-patient="{{ vac.patient }}" >{% trans %}Reject{% endtrans %}</span>
                        {% endif %}
                    </td>
                    <td></td>

                </tr>
            {% endfor %}
                {% for vac in intervention  %}
                    <tr>
                        <td>{{vac.firstName }} {{ vac.lastName }}</td>
                        <td>Intervention Vaccination</td>
                        <td>
                            {% if vac.statusVaccin == 0 %}
                                <p class="badge badge-info  textf">{{ 'Waiting'|trans }}</p>
                            {% elseif vac.statusVaccin == 1 and vac.etat == 0 %}
                                <p class="badge badge-primary  textf">{% trans %}Scheduled{% endtrans %}</p>
                            {% elseif vac.statusVaccin == 1 and vac.etat == 1 %}
                                <p class="badge badge-success textf">{% trans %}Realized{% endtrans %}</p>
                            {% elseif vac.statusVaccin == 2 %}
                                <p class="badge badge-danger textf">{% trans %}Rejected{% endtrans %}</p>
                            {% endif %}
                        </td>

                        <td >
                            {% if vac.statusVaccin == 1 and vac.etat == 0 %}

                                <span class="badge badge-success badge-style modif-status" data-id="{{ vac.id }}" data-praticien="{{ vac.praticien }}"  >{{ 'Realize'|trans }}</span>
                            {% elseif vac.statusVaccin == 1 and vac.etat == 1  %}
                                <p class="badge badge-success textf">{% trans %}Realized{% endtrans %}</p>

                            {% elseif vac.statusVaccin == 0 %}
                                <span  class="badge badge-success badge-style modi" data-id="{{ vac.id }}"  data-carne="{{ vac.carnet }}">{{ 'Organize'|trans }}</span>
                                <span  class="badge badge-danger badge-style modif" data-type="intervention"  data-action="reject" data-id="{{ vac.id }}" data-status="{{vac.statusVaccin}}"   data-praticien="{{ vac.praticien }}" data-patient="{{ vac.patient }}" >{% trans %}Reject{% endtrans %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('see_intervention', {'patient_id' : vac.carnet}) }}" class="badge badge-success badge-style">{% trans %}See{% endtrans %}</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- DataTables -->
    <script>
        $('.modif').on('click', function (e) {

            console.log('erreur');
            $(".loadBody").css("display", "block");
            e.preventDefault();
            var id = $(this).data('id');
            var type = $(this).data('type');
            var status = $(this).data('status');
            var action = $(this).data('action');
            var date = $(this).data('date');
            var praticien = $(this).data('praticien');
            var patient = $(this).data('patient');
            var carnet = $(this).data('carnet');
            var numero = $(this).data('numero');

            $.ajax({
                url: "{{ path('change_status') }}",
                type: 'post',
                data: {
                    id: id,
                    type: type,
                    status: status,
                    date: date,
                    praticien: praticien,
                    patient: patient,
                    carnet: carnet,
                    numero: numero,
                    action: action
                },
                dataType: "json",
                success: (data) => {
                    $(".loadBody").css("display", "none");
                    location.reload();
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });
        $(".modi").on('click' , function(e) {
            $(".loadBody").css("display", "block");
            e.preventDefault();
            var id = $(this).data('id');
            var carne = $(this).data('carne');

            $.ajax({
                url: "{{ path('add_vaccination_praticien') }}",
                type: 'post',
                data: {
                    id: id,
                    carne:carne,

                },
                dataType: 'json',
                success: (data) => {
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $('#carnet_date').clockpicker({
                        donetext: "valider",
                        autoclose: true,
                    });
                    $('#carnet_heure').on('change', function () {
                        let receivedVal = $(this).val();
                        $(this).val(receivedVal );
                    });

                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });

        $(".modif-status").on('click' , function(e) {
            $(".loadBody").css("display", "block");
            e.preventDefault();
            var id = $(this).data('id');
            var praticien = $(this).data('praticien');

            $.ajax({
                url: "{{ path('organize_vaccination') }}",
                type: 'post',
                data: {
                    id:id,
                    praticien: praticien,
                },
                dataType: 'json',
                success: (data) => {
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });



        $(document).ready(function() {
            $('#example1').DataTable();
        });
    </script>
{% endblock %}