<!--Header-->
<style>
    .md-form.row-check {
        flex-direction: row;
        display: flex;
    }
</style>
<div class="modal-header text-center">
    {% if new == true %}
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">{% trans %}New Vaccine{% endtrans %} </h4>
    {% else %}
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">{% trans %}Modification vaccine{% endtrans %}</h4>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="white-text">&times;</span>
    </button>
</div>
<!--Content-->
{{ form_start(form, {'attr': {'action': path('register_vaccin') }}) }}
<!--Body-->
<div class="modal-body">
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Name{% endtrans %}</label>
        {{ form_widget(form.vaccinName, {'attr': { 'class': 'form-control', 'required': 'required' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Country{% endtrans %}</label>
        {{ form_widget(form.state, {'attr': { 'class': 'form-control', 'required': 'required' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">Description </label>
        {{ form_widget(form.vaccinDescription, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Type of vaccine{% endtrans %} </label>
        {{ form_widget(form.TypeVaccin, {'attr': { 'class': 'form-control chosen-select' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Initial take date{% endtrans %} </label>
        {{ form_widget(form.datePriseInitiale, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 1{% endtrans %}</label>
        {{ form_widget(form.rappel1, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 2{% endtrans %}</label>
        {{ form_widget(form.rappel2, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 3{% endtrans %}</label>
        {{ form_widget(form.rappel3, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 4{% endtrans %} </label>
        {{ form_widget(form.rappel4, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 5{% endtrans %}</label>
        {{ form_widget(form.rappel5, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 6{% endtrans %}</label>
        {{ form_widget(form.rappel6, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 7{% endtrans %}</label>
        {{ form_widget(form.rappel7, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 8{% endtrans %}</label>
        {{ form_widget(form.rappel8, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 9{% endtrans %}</label>
        {{ form_widget(form.rappel9, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form">
        <label class="active" for="form1">{% trans %}Reminder 10{% endtrans %}</label>
        {{ form_widget(form.rappel10, {'attr': { 'class': 'form-control' }}) }}
    </div>
    <div class="md-form row-check">
        <label class="active" for="form1" style="margin-top: 9px">Status </label>
        {{ form_widget(form.etat, {'attr': {'class': 'form-control'}})  }}
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}Cancel{% endtrans %}  </button>
    <button type="submit" class="btn btn-outline-primary waves-effect submit_new_center_health"><i class="fas fa-save ml-1"></i> {% trans %}Save{% endtrans %} </button>
</div>

{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function () {
        $('.chosen-select').chosen({width: "100%"});
    });
</script>
