{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}City{% endtrans %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #IdDocument {
            display: none;
        }
    </style>
{% endblock %}
 
{% block body %}
    <div class="row head-table col-md-12">
        <div class="grid-title-table col-md-6 mt-4">
            <h4 class="h4-content">{% trans %}All Cities{% endtrans %}</h4>
        </div>
        <div class="grid-edit-btn col-md-3 mt-3">
        </div>
        <div class="grid-edit-btn col-md-3 mt-3">
            <button class="btn btn-danger import_city">{% trans %}Import city{% endtrans %}</button>
            <button class="btn btn-danger new_city">{% trans %}+ New City{% endtrans %}</button>
        </div>
    </div>
    <div class="row head-table col-md-12 col-lg-12 " id="IdDocument">
        <div class="col-md-6">
            <input type="file" id="import_document" style="margin-left: 634px; width: 276px;margin-top: -49px;" name="document" class="form-control-file fc-adjust-size" accept=".xlsx ,.xls">
        </div>
    </div>
    <div class="row-table table-content">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th>{% trans %}City{% endtrans %}</th>
                <th>{% trans %}Department{% endtrans %}</th>
                <th>{% trans %}Borough{% endtrans %}</th>
                <th>{% trans %}Region{% endtrans %}</th>
                <th>{% trans %}Country{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities  %}
                <tr>
                    <td>{{ city.nameCity }}</td>
                    <td>{{ city.departement }}</td>
                    <td>{{ city.arrondissement }}</td>
                    <td>{{ city.region.nameRegion }}</td>
                    <td>{{ city.region.state.nameState }}</td>
                    <td style="text-align: center">
                        <span class="btn btn-primary data-edit" data-id="{{ city.id }}"><i class="fa fa-pencil"></i></span>
                        <span class="btn btn-danger data-remove" data-id="{{ city.id }}"><i class="fa fa-trash-o"></i></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#example1").DataTable({
                language: {
                    url: "{{ asset('vendor/datatables/English.json') }}"
                }
            });
            //$('.mdb-select').materialSelect();
            $(".import_city").on('click', function (e) {
                e.preventDefault();
                if ($('#import_document')[0].files.length > 0 ){
                    var formData = new FormData();
                    $(".loadBody").css("display", "block");
                    formData.append("file", $('#import_document')[0].files[0]);
                    formData.append("upload_file", true);

                    $.ajax({
                        url: "{{ path('xlsx_import') }}",
                        type: 'post',
                        processData: false,
                        contentType: false,
                        data: formData,
                        //dataType: "json",
                        success: (data) =>{
                            location.reload();
                            $(".loadBody").css("display", "none");
                        },
                        error: (e) => {
                            $(".loadBody").css("display", "none");
                            $(".chargementError").css("display", "block");
                        }
                    }).done(() => {
                        $(".loadBody").css("display", "none");
                    });
                }else {

                    $('#IdDocument').css('display', 'block');
                }
                console.log()
                //if ()k
            })
        });
        $(".new_city").on('click' , function(e) {
            $(".loadBody").css("display", "block");
            e.preventDefault();
            $.ajax({
                url: "{{ path('add_form_city') }}",
                type: 'post',
                data: {
                    action: 'new'
                },
                dataType: 'json',
                success: (data) => {
                    console.log(data)
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });

        $('.data-edit').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: "{{ path('add_form_city') }}",
                type: 'post',
                data: {
                    id_city: id,
                    action: 'edit'
                },
                dataType: "json",
                success: (data) =>{
                    $('.create_body').html(data.form_html);
                    $("#modal_create_body").modal('show');
                    $(".loadBody").css("display", "none");
                },
                error: (e) => {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).done(() => {
                $(".loadBody").css("display", "none");
            });
        });

        $('.data-remove').on('click', function (e) {
            e.preventDefault();
            var $delete = confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');
            if($delete){
                $(".loadBody").css("display", "block");
                var id = $(this).data('id');
                $.ajax({
                    url: "{{ path('remove_city') }}",
                    type: 'post',
                    data: {
                        id_city: id
                    },
                    dataType: "json",
                    success: (data) =>{
                        $(".loadBody").css("display", "none");
                        location.reload();
                    },
                    error: (e) => {
                        $(".loadBody").css("display", "none");
                        $(".chargementError").css("display", "block");
                    }
                }).done(() => {
                    $(".loadBody").css("display", "none");
                });
            }else {
                return false
            }

        });

    </script>
{% endblock %}