<h3>vous l'avez fait! Vous  êtes inscrit!</h3>

<p>Bonjour {{ name }} {{ first }}! Vous êtes enregistré avec succès</p>
<p>Votre identifiant est  {{ username }}</p>

<p>Votre code d'activation est  {{ code }} </p>

<p><a href="http://suivie-patient.neitic.com/register/activate?id={{ id }}">Lien pour l'activation</a> </p>

<p>Merci!</p>
<p>L'equipe suivi de patient</p>